dbHostAddress=<<dbHostAddress>>
dbPort=<<dbPort>>
dbName=<<dbName>>
dbUsername=<<dbUsername>>
dbPassword=<<dbPassword>>
filerHostAddress=<<filerHostAddress>>
filerPort=<<filerPort>>
schedulerPeriodInMinutes=<<schedulerPeriodInMinutes>>
testerkaPort=<<testerkaPort>>