<h4>Add new solution</h4>
<p><b>Task name</b></p>
<p class="p-info"><%= model.get('name') %></p>
<p><b>Task description</b></p>
<p class="p-info"><%= model.get('description') %> </p>
<form>
    <div class="form-group">
        <label for="solutionFile">File with solution</label>
        <input type="file" id="solutionFile">
        <p class="help-block">.py file</p>
    </div>
    <button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>

<div class="panel panel-default">
    <div class="panel-heading">Solutions</div>

    <table class="table solutions-tab">
        <thead>
        <tr>
            <th>Status</th>
            <th>Execution Time</th>
            <th>Rank</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>